.app-header {
  font-size: 125%;
  height: 60px;
  background-color: var(--color-background);
  box-shadow: 0px 2px 4px var(--color-shadow-dark);
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: space-between;

  @include if-mobile() {
    font-size: 100%;

    .MuiSvgIcon-root {
      font-size: 1.25em;
    }
  }

  &--logo {
    display: flex;
    height: 2em;
    padding-left: 1em;
    align-items: center;

    &__icon {
      margin-right: 0.5em;
    }


    &__name {
      font-weight: 500;
      padding-bottom: 4px;

      &__main {
        color: var(--color-accent);
      }
    }
  }

  &--right-side {
    padding-right: 1em;
    display: flex;
    align-items: center;

    &__theme-switcher {
      padding-left: 1em;
    }

    &__language-switcher {
      padding-left: 1em;
    }
  }
}