.slider {
    width: 300px;
    text-align: center;
    overflow: hidden;

    img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slides {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--color-text-tertiary);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }


        >div {
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 300px;
            height: 300px;
            margin-right: 50px;
            border-radius: 10px;
            color: var(--color-text);
            background: var(--color-highlight);
            transform-origin: center center;
            transform: scale 1;
            transition: transform 0.5s;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;
        }

    }
}