.side-nav {
  &--item {
    cursor: pointer;

    &__name {
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.urduText {
        height: 3.5rem;
      }
      &__icon {
        padding-right: 1rem;

        &.expanded {
          color: var(--color-accent);
        }
      }

      &:hover {
        color: var(--color-accent);
      }

      &.selected {
        color: var(--color-text);
        background-color: var(--color-accent);

        &:hover {
          background-color: var(--color-accent-hover);
        }
      }
    }
  }
}
