.dark-mode {
    --color-text: #eee;
    --color-text-secondary: #eee;
    --color-text-tertiary: #aaa;
    --color-background: #2e3233;
    --color-hover: #3d4243;
    --color-accent: #34ae91;
    --color-accent-hover: #67c2ad;
    --color-shadow: #444;
    --color-shadow-dark: #000;
    --color-highlight: #394743;
    --color-divider: #555;
    font-weight: lighter;

}