.light-mode {
    --color-text: #555;
    --color-text-secondary: #666;
    --color-text-tertiary: #888;
    --color-background: #ffffff;
    --color-hover: #f2f2f2;
    --color-accent: #34ae91;
    --color-accent-hover: #67c2ad;
    --color-shadow: #ccc;
    --color-shadow-dark: #444;
    --color-highlight: #e6f5f1;
    --color-divider: #ccc;
    font-weight: 400;

}