@import 'mixins';
@import './themes/light-mode';
@import './themes/dark-mode';
@import './components/all-components';
@import 'utilities';


html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}